/* wire frame: TODO Delete later */
header,
main,
footer {
    border: 5px solid navy;
    max-width: 1200px;
    margin: 2% auto;
}

/* Element selectors */

body {
    display: flex;
    flex-direction: column;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(-45deg, #ffffff, #fcfcfc);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

header {
    /* background stuff is exlcuded temporarily to save the code */
    /* background-image: */
    /* background-repeat: no-repeat; */
    background-color: beige;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header,
main,
footer {
    padding: 1.5rem;
}

main {
    flex-grow: 1;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

section {
    border: 1px solid red;
    flex: 1 0 25%;
}

/* classes */
.mt- {
    margin-top: 0.75rem;
}



.pt {
    padding-top: 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* id's */

#navbar {
    font-weight: bold;
    color: white !important;
    position: relative;
    width: 100%;
    list-style-type: none;
}

#aboutnav {
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
    text-decoration: none;
}

#worknav {
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
    text-decoration: none;
}

#contactnav {
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
    text-decoration: none;
}

#about {
    background-color: gray;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
}

#work {
    background-color: gray;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
}

#contact {
    background-color: gray;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
}